<div class="panel">
    <div class="panel-heading">
        <h3>Logs</h3>
    </div>
    <div class="col-lg-">
        <br>
        <form name="frmLogs">
            <div class="row">
                <div class="col-xs-10 col-sm-4 col-md-4 col-lg-3">
                    <h4>Data inicial:</h4>
                    <input date-range-picker id="dataInicial" name="dataInicial" [(ngModel)]="dataInicial" max="{{dataFinal|date:'yyyy-MM-dd'}}" class="form-control date-picker" type="date" (change)="changeDate($event)" />
                </div>
                <div class="col-xs-10 col-sm-4 col-md-4 col-lg-3">
                    <h4>Data final:</h4>
                    <input date-range-picker id="dataFinal" name="dataFinal" [(ngModel)]="dataFinal" min="{{dataInicial|date:'yyyy-MM-dd'}}" class="form-control date-picker" type="date" (change)="changeDate($event)" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-primary" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0" (click)="btnBuscarClick($event)">
                        Buscar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>LogOrigem Id</th>
                    <th>Severidade</th>
                    <th>Mensagem</th>
                    <th>Arquivo Fonte</th>
                    <th>Método Fonte</th>
                    <th>Linha Fonte</th>
                    <th>Máquina</th>
                    <th>Propriedades</th>
                    <th>Exceção</th>
                    <th>Usuário Id</th>
                    <th>LogContexto Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of logs">
                    <td>{{item.logSistemaId}}</td>
                    <td>{{item.data | date:'dd-MM-yyyy'}}</td>
                    <td>{{item.logOrigemId}}</td>
                    <td>{{item.severidade}}</td>
                    <td>{{item.mensagem}}</td>
                    <td>{{item.arquivoFonte}}</td>
                    <td>{{item.metodoFonte}}</td>
                    <td>{{item.linhaFonte}}</td>
                    <td>{{item.maquina}}</td>
                    <td>{{item.propriedades}}</td>
                    <td>{{item.excecao}}</td>
                    <td>{{item.usuarioId}}</td>
                    <td>{{item.logContextoId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>