<h1>Teste - IPCORP</h1>
<p>
    Nos itens a seguir ser&atilde;o avaliados conhecimentos em programa&ccedil;&atilde;o C#, Frontend, SQL,
    l&oacute;gica de programa&ccedil;&atilde;o e organiza&ccedil;&atilde;o do projeto. &Eacute; livre a
    utiliza&ccedil;&atilde;o de qualquer t&eacute;cnica, padr&atilde;o de desenvolvimento, ferramentas e plug-ins.
</p>
<h2>Start do projeto</h2>
<p>
    Buildar a solution e startar o projeto <strong>Telefonia.Web</strong>. Apos isso, rodar o microserviço self-hosted executado na pasta
    <strong>\Telefonia.Api\bin\Debug\Telefonia.Api.exe</strong>
</p>
<h2>Avalia&ccedil;&atilde;o Backend</h2>
<p>
    - Criar um projeto C# .Net Core ou .Net Full que fa&ccedil;a as seguintes opera&ccedil;&otilde;es<br />
    - Fazer um get em uma API REST;<br />
    - Persistir os dados em uma tabela com a mesma estrutura;<br />
    - Fazer o Get dessa tabela e disponibiliza-la em uma API REST;
</p>
<h2>Dados da API</h2>
<p>
    A api abaixo requer autentica&ccedil;&atilde;o oauth, onde ser&aacute; necess&aacute;rio enviar no header de
    cada requisi&ccedil;&atilde;o o authorization: bearer + token recebido pela api de autentica&ccedil;&atilde;o.
</p>
<p>
    Api de autentica&ccedil;&atilde;o: http://integracao.epbx.com.br:5050/Service/oauth2/Token
</p>
<p>
    - grant_type:password<br />
    - username:teste<br />
    - password:teste<br />
    - client_id:abc<br />
</p>
<p>
    Api de teste: http://integracao.epbx.com.br/Service/api/LogSistema?$filter=Data ge 2017-03-15
</p>
<p>
    Filtro oData: pode ser alterado para o dia em que o teste for executado para retornar menor volume de dados.
</p>
<p>
    - Banco de Dados:<br />
    - Host: 177.38.218.8<br />
    - User: teste<br />
    - Password: Teste@2017$Sql<br />
    - Database: Teste<br />
    - Table: LogSistema<br />
</p>
<h2>Avalia&ccedil;&atilde;o Frontend</h2>
<p>
    Criar um projeto simples utilizando angularJs que fa&ccedil;a as seguintes opera&ccedil;&otilde;es:
</p>
<p>
    - Chamar a api rest criada na quest&atilde;o anterior, usando $resource ou $http.<br />
    - Exibir os dados retornados pela api em uma tabela html
</p>
<h2>Avalia&ccedil;&atilde;o opcional</h2>
<p>
    Criar um projeto de testes unit&aacute;rio para api criada.
</p>
