<div class="panel">
    <div class="panel-heading">
        <h3>Import Data</h3>
    </div>
    <div class="col-lg-">
        <br>
        <form name="frmImportacao">
            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-3">
                <h4>Data :</h4>
                <input date-range-picker id="dataInicial" name="dataInicial" [(ngModel)]="dataInicial" class="form-control date-picker" type="date" (change)="changeDate($event)" />
                <br />
                <button type="button" class="btn btn-primary" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0" (click)="btnImportarClick($event)">
                    Importar
                </button>
            </div>
        </form>
    </div>
</div>
